.advantages {
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__header {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.6;
  color: @black-color;
  margin: 0;
  margin-bottom: 30px;
}

.advantages__list {
  list-style: none;
  padding-left: 80px;
  margin: 0;
}

.advantages__item {
  font-family: @font-family-additional;
  font-size: 14px;
  line-height: 1.29;
  color: @greyish-brown-color;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 45px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #e6e6e6; // цвет проверить.
  }

  .advantages__header {
    font-size: 60px;
    line-height: 1;
    margin-top: 47px;
    margin-bottom: 70px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .advantages__item {
    width: 325px;
    min-height: 240px;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 95px;
    padding-right: 60px;
    margin-bottom: 77px;

    //&:last-child,
    &:nth-last-child(-n+2) {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-left: 110px;
    padding-right: 110px;
  }

  .advantages__item {
    width: 245px;
    padding-right: 0;
  }
}
