.catalog__header {
  padding-left: 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  color: @black-color;
  margin: 0;
  margin-top: 20px;
}

.catalog__item {
  border: 1px solid #ededed;
  border-bottom: none;
  padding: 24px 20px;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;

  //&:last-child {
  //  border-bottom: 1px solid #ededed;
  //}
}

.catalog__name {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: @black-color;
  padding-top: 20px;
  text-transform: uppercase;
  //width: 100px;
  margin-bottom: 13px;
}

.catalog__button {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  padding-top: 10px;
}

.catalog__link {
  text-decoration: none;
}
