.copyright {
  display: flex;
  justify-content: space-between;
  min-height: 78px;
}

.copyright__link {
  display: block;
  text-decoration: none;
  font-family: @font-family-additional;
  font-size: 16px;
  line-height: 1;
  color: @greyish-brown-color;
  margin-top: 30px;
}

.copyright__logo {
  display: block;
  margin-top: 22px;
}

@media (min-width: @tablet-width) {
  .copyright {
    min-height: none;
  }

  .copyright__link {
    margin-top: 1px;
    margin-right: 23px;
  }

  .copyright__logo {
    margin-top: -6px;
  }
}
