.nav {
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 11px;
  padding-left: 20px;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; //временно
}

.nav__toggle {
  width: 12px;
  height: 8px;
  margin-left: 65px;
}

.nav__logo-link {
  text-decoration: none;
}


@media (min-width: @tablet-width) {
  .nav {
    display: flex;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: none;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0;
    margin-left: auto;
    padding-top: 20px;
  }
}

.nav__link {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.39;
}


@media (min-width: @desktop-width) {
  .nav {
    padding-top: 53px;
    padding-left: 110px;
    padding-right: 110px;

    &--index {
      position: absolute;
      width: @desktop-max-width;
    }
  }

  .nav__list {
    width: 480px;
  }

  .nav__link {
    font-size: 20px;
    line-height: 1.25;
    color: @black-color;

    &--index {
      color: @white-color;
    }
  }
}
