.nav {
  min-height: 66px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 11px;
  padding-left: 20px;
}

.nav__list {
  list-style: none;
  display: none; //временно
}

.nav__toggle {
  width: 12px;
  height: 8px;
  margin-left: 65px;
}

.nav__logo-link {
  text-decoration: none;
}
