.program {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.program__variant {
  min-height: 266px;
  width: 280px;
  background-color: @background-color-additional;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.program__header {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  padding-left: 70px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.program__text {
  font-family: @font-family-additional;
  font-size: 14px;
  line-height: 1.29;
  color: @greyish-brown-color;
  border-bottom: 1px solid @border-color;
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 18px;
}

.program__link {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: @black-color;
}

@media (min-width: @tablet-width) {
  .program {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .program__variant {
    min-height: 372px;
    width: 708px;
    padding: 77px 52px 60px;
    margin-bottom: 30px;
  }

  .program__header {
    font-size: 36px;
    line-height: 1.03;
    padding: 0;
    margin-bottom: 23px;
  }

  .program__text {
    width: 372px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    border: none;
    margin-bottom: 36px;

    &--mass {
      width: 340px;
    }
  }

  .program__link {
    font-size: 20px;
    margin-left: 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 11px;
      background-image: url("../img/icon-right-arrow-long.svg"); //цвет другой
      left: 131px;
      top: 8px;
    }

    &--mass::before { // надеюсь, что так можно в рамках интенсива
      left: 126px;
    }
  }
}

@media (min-width: @desktop-width) {
  .program {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .program__variant {
    width: 570px;
  }

  .program__header {
    padding-left: 162px;
    margin-bottom: 71px;
  }

  .program__text {
    width: 463px;
    margin-bottom: 12px;
  }
}
