.stat {
  position: relative;
}

.stat__element {
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: @black-color;
  text-transform: uppercase;
  padding-top: 12px;
}

.stat__description {
  position: absolute;
  width: 87px;
  min-height: 21px;
  top: 45px;
  left: -20px;
  background-color: @background-color-additional;
  font-family: @font-family-additional;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: @greyish-brown-color;
  padding-left: 1px;
  padding-right: 2px;
}
