//.table-features__name {
// font-size: 16px;
//line-height: 1.25;
//color: @black-color;
//padding-top: 20px;
//text-transform: uppercase;
//width: 100px;
//margin-bottom: 13px;
//}

.table-features__cell {
  font-family: @font-family-additional;
  font-size: 12px;
  line-height: 1.33;
  color: @greyish-brown-color;
  margin: 0;
}

.table-features__cell--right {
  text-align: right;
}

.table-features {
  border-spacing: 0;
  width: 138px;
  padding: 0;
}
